@import "bootstrap";

*{
  color: var(--defaultFontColor);
}

body{
  margin: 0px;
}

a{
  text-decoration: none;
}

#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body{
  height: 90vh;
  width: 85%;
  padding: 0px;
  display: flex;
}

@media screen and (min-width: 996px) {
  #body{
      height: 93vh;
      width: 96%;
  }
}