#chatWrapper{
    display: none;
}

#chatBody{
    height: 90%;
    background-color: var(--chatBodyBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#messagesWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#noMessages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 100%;
    font-weight: 700;
    color: var(--accents);
}

#noMessages>i{
    font-size: 10em;
    color: var(--accents);
}

#fontStylePopup>i:hover{
    background-color: rgba(100, 100, 100, 0.9);
}

@media screen and (min-Width: 996px) {
    #chatWrapper{
        display: block;
    }
}