#contactList{
    height: 100%;
    overflow-y: scroll;
    background-color: var(--contactListBg);
}

#contactList::-webkit-scrollbar{
    width: 8px;
}

#contactList::-webkit-scrollbar-track{
    background: var(--scrollbarBg);
    border-right: 2px solid var(--accents);
}

#contactList::-webkit-scrollbar-thumb{
    background: var(--scrollbarColor);
}

#contactList>div{
    height: 12%;
    min-height: 12%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--contactBg);
    color: var(--contactListFontColor);
    border-bottom: 2px solid var(--accents);
    cursor: pointer;
}

.contactIcon{
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#noContacts{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 15px !important;
    cursor: default !important;
}

@media screen and (min-Width: 996px) {
    #contactList>div{
        height: 8%;
        min-height: 8%;
    }
}