#editThemeWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2.5rem;
    overflow-y: scroll;
    background-color: hsl(210, 13%, 94%);
}

#editThemeWrapper>div:not(:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid grey;
}

#editThemeWrapper>div>label{
    color: rgb(36, 36, 36);
    width: 80%;
    margin-right: 5px;
}

#editThemeWrapper>div>input[type="color"]{
    width: 20%;
}

.editFontAndBorder, .editFontAndBorder>select, .editFontAndBorder>select>option{
    color: rgb(36, 36, 36);
}

#editThemeButtonWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

#editThemeButtonWrapper>div{
    height: 30px;
}

#editThemeButtonWrapper button{
    position: relative;
    border: none;
    background-color: var(--iconBg);
    color: var(--defaultFontColor);
    min-width: 160px;
    height: 32px;
}

#editThemeButtonWrapper button:hover{
    background-color: var(--iconHoverBg);
}

#favoriteFont{
    max-width: 35vw;
    overflow-y: scroll;
}

.confirmPopup{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 60px;
    position: relative;
    left: 0px;
    top: -90px;
    color: rgb(36, 36, 36);
    background-color: hsl(210, 13%, 94%);
    border: 1px solid rgb(36, 36, 36);
    cursor: default;
}

.confirmPopup>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.confirmPopup>div>i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.confirmPopup>div>i:hover{
    background-color: rgb(201, 201, 201);
}