#editProfileWrapper{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(68, 68, 68, 0.678);
    backdrop-filter: blur(5px);
    animation-name: modalDarkenBg;
    animation-duration: 0.5s;
}

#editProfileModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
    width: 80%;
    padding: 2rem 1.3rem 0.3rem 1.3rem;

    background-color: hsl(210, 13%, 94%);
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;

    animation-name: modalSlide;
    animation-duration: 0.5s;
}

#currentIcon{
    position: relative;
    height: 30%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

#uploadIcon{
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: white;
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #868484;

    border-radius: 50%;
}

#currentIcon>label{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    border-radius: 50%;
    border: 1px solid #868484;
    background-color: hsl(210, 13%, 94%);
    color: rgb(80, 80, 80);
    font-size: 1.4rem;
}

#editProfileModal>h2{
    min-height: 39px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(80, 80, 80);
    margin: 7vh 0vw;
}

#editProfileModal>h2:hover{
    background-color: hsl(210, 13%, 84%);
}

#editProfileModal>p{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(80, 80, 80);
    min-height: 34px;
    width: 90%;
    margin-bottom: 5vh;
}

#editProfileModal>p:hover{
    background-color: hsl(210, 13%, 84%);
}

#newUsernameInput{
    display: none;
    height: 38px;
    max-width: 60vw;
    margin: 7vh 0vw;
    padding: 5px;
    border: none;
    color: rgb(36, 36, 36);
}

#newStatusInput{
    display: none;
    height: 34px;
    max-width: 60vw;
    border: none;
    padding: 5px;
    margin-bottom: 5vh;
    color: rgb(36, 36, 36);
    font-size: 1.2rem;
}

.closeModal{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@keyframes modalSlide {
    0% {top: -100vh}
    100%{top: 0}
}

@keyframes modalDarkenBg {
    0% {background-color: transparent; backdrop-filter: blur(0px);}
    100%{background-color: rgba(68, 68, 68, 0.678); backdrop-filter: blur(5px);}
}

@media screen and (min-width: 996px) {
    #editProfileModal{
        width: 40vw;
        height: 50vh;
    }

    #editProfileModal>p{
        width: 30vw;
    }

    #newStatusInput{
        width: 30vw;
    }
}