#emojiPickerWrapper{
    display: block;
    position: absolute;
    bottom: calc(100% - 10px);
    max-height: 30vh;
    width: 70vw;
    background-color: rgba(36, 36, 36, 0.9);
    font-size: 5vw;
}

#emojiPickerWrapper>div::-webkit-scrollbar{
    height: 0px;
}

#emojiCategories{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    height: 40px;
}

#emojiCategories>i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}

#emojiCategories>i:hover{
    background-color: hsl(0, 0%, 53%);
    cursor: pointer;
}

#selectedCategoryWrapper{
    display: flex;
    height: 3px;
    background-color: black;
    overflow-x: scroll;
}

#selectedCategoryWrapper>div{
    width: 25%;
    height: 3px;
}

#emojiPicker{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: calc(30vh - 50px);
    overflow-x: scroll;
}

#emojiPicker>div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 14px;
}

/* Fills the last row of the emojis in each list */
#emojiPicker>div::after{
    content: "";
    flex: auto;
}

#emojiPicker>div:last-child{
    margin-left: 14px;
    padding-left: 14px;
}

#emojiPicker>div>span{
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.tabIndexSetter{
    height: 0px;
    width: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

@media screen and (min-width: 996px) {
    #emojiPickerWrapper{
        width: 24.5vw;
        bottom: calc(100% - 15px);
        font-size: 1.3vw;
    }
    
    #emojiPickerWrapper>div::-webkit-scrollbar{
        width: 5px;
        background-color: black;
    }
    
    #emojiPickerWrapper>div::-webkit-scrollbar-thumb{
        background-color: rgb(110, 110, 110);
    }
    
    #emojiPickerWrapper>div::-webkit-scrollbar-corner
    {
        background-color: black;
    }
    
    #emojiPickerWrapper>div{
        width: 24.5vw;
    }
}