.senderMessage{
    display: flex;
    flex-direction: column;
    align-self: end;
    position: relative;
    width: 50vw;
    background-color: var(--senderMessageBg);
    text-align: justify;
    border-radius: var(--messageBorderRadius) var(--messageBorderRadius) 0px 0px;
    margin: 15px 0px;
}

.senderMessage::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    border-left: 7px solid var(--senderMessageBg);
    border-bottom: 7px solid var(--senderMessageBg);
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
}

.recipientMessage{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    background-color: var(--recipientMessageBg);
    text-align: justify;
    border-radius: var(--messageBorderRadius) var(--messageBorderRadius) 0px 0px;
    margin: 15px 0px;
}

.recipientMessage::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -14px;
    border-right: 7px solid var(--recipientMessageBg);
    border-bottom: 7px solid var(--recipientMessageBg);
    border-left: 7px solid transparent;
    border-top: 7px solid transparent;
}

.messageSenderName{
    width: 50vw;
    background-color: var(--senderMessageBg);
    padding-left: 10px;
    margin: 10px 0px -5px 0px;
    z-index: 1;
    font-size: 0.8rem;
    font-style: oblique;
    font-weight: 600;
}

.messageRecipientName{
    width: 50vw;
    background-color: var(--recipientMessageBg);
    padding-left: 10px;
    margin: 10px 0px -5px 0px;
    z-index: 1;
    font-size: 0.8rem;
    font-style: oblique;
    font-weight: 600;
}

.messageContent{
    padding: 10px 15px 0px 15px;
}

.timeSentSender{
    min-height: 30px;
    width: 50vw;
    padding: 0px 15px 5px 0px;
    margin-top: -1px;
    text-align: end;
    background-color: var(--senderMessageBg);
    cursor: default;
    border-bottom-left-radius: var(--messageBorderRadius);
}

.timeSentRecipient{
    min-height: 30px;
    width: 50vw;
    padding: 0px 0px 5px 15px;
    margin-top: -1px;
    margin-bottom: 20px;
    background-color: var(--recipientMessageBg);
    cursor: default;
    border-bottom-right-radius: var(--messageBorderRadius);
}

.timeSentSender:last-child, .timeSentRecipient:last-child{
    margin-bottom: 0px;
}

.senderRepliedMessage{
    display: flex;
    flex-direction: column;
    width: calc(50vw - 19px);
    align-self: center;
    padding: 10px 10px 5px 10px;
    margin-top: 10px;
    background-color: var(--senderReplyBg);
}

.recipientRepliedMessage{
    display: flex;
    flex-direction: column;
    width: calc(50vw - 19px);
    align-self: center;
    padding: 10px 10px 5px 10px;
    background-color: var(--recipientReplyBg);
}

.senderRepliedMessage>i, .recipientRepliedMessage>i{
    font-size: 0.8rem;
}

.minutesAndSeconds{
    all: unset;
    font-family: var(--favoriteFont), Arial, Helvetica, sans-serif !important;
    font-weight: 300;
}

@media screen and (min-Width: 996px) {
    .senderMessage, .recipientMessage, .messageSenderName, .messageRecipientName, .timeSentSender, .timeSentRecipient{
        width: 40vw;
    }

    .senderRepliedMessage, .recipientRepliedMessage{
        width: calc(40vw - 19px);
    }

    .messageContent>audio{
        width: 35vw;
    }
}