:root{
    /* Global */
    --favoriteFont: "Arial"; 
    --defaultFontColor: hsl(210, 13%, 94%);
    --accents: hsl(271, 40%, 46%);
    --iconBg: hsl(300, 33%, 49%);
    --iconHoverBg: hsl(300, 57%, 39%);
    --messageBorderRadius: 0px;
    /* Sidebar*/
    --sidebarWrapperBg: hsl(222, 38%, 40%);
    /* Toolbar */
    --toolbarOptionsBg: hsl(300, 33%, 49%);
    --toolbarOptionsBorder: hsl(300, 57%, 44%);
    --toolbarWrapperBg: hsl(205, 100%, 24%);
    /* Body */
    --chatBodyBg: hsl(210, 13%, 94%);
    --chatInputBg: hsl(210, 13%, 94%);
    --chatInputWrapperBg: hsl(222, 38%, 40%);
    --contactListBg: hsl(210, 13%, 94%);
    --contactListFontColor: hsl(205, 100%, 24%);
    --scrollbarColor: hsl(300, 33%, 49%);
    --scrollbarBg: hsl(205, 100%, 24%);
    --sendButtonPrimary: hsl(210, 13%, 94%);
    --sendButtonSecondary: hsl(222, 38%, 40%);
    --chatToolbarBg: hsl(222, 38%, 40%);
    /* Chat Window */
    --senderMessageBg: hsl(300, 33%, 49%);
    --senderMessageDropdownBorder: hsl(300, 33%, 39%);
    --senderReplyBg: hsl(300, 33%, 69%);
    --recipientMessageBg: hsl(222, 38%, 60%);
    --recipientMessageDropdownBorder: hsl(222, 38%, 50%);
    --recipientReplyBg: hsl(222, 38%, 70%);
}