#viewProfileWrapper{
    display: none;
    align-items: center;
    justify-content: center;
    height: 73.6vh;
    width: 85vw;
    position: absolute;
    left: 15vw;
    top: 19vh;
    background-color: rgba(68, 68, 68, 0.678);
    backdrop-filter: blur(5px);
    animation-name: modalDarkenBg;
    animation-duration: 0.5s;
    z-index: 3;
}

#viewProfileModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
    width: 80%;
    padding: 2rem 1.3rem 0.3rem 1.3rem;
    
    background-color: hsl(210, 13%, 94%);
    font-size: 30px;
    border-radius: 20px;
    
    animation-name: modalSlide;
    animation-duration: 0.5s;
}

#viewProfileModal *{
    color: rgb(80, 80, 80);
}

#contactIcon{
    position: relative;
    height: 30vmin;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

#viewProfileModal>h2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 39px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(80, 80, 80);
    padding: 0px 5px;
    margin: 3vh 0vw 2vh 0vw;
}

#viewProfileModal>h2:hover{
    background-color: hsl(210, 13%, 84%);
}

#viewProfileModal>h5{
    font-size: 1rem;
    margin-bottom: 2vh;
}

#viewProfileModal>p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(80, 80, 80);
    min-height: 34px;
    width: 90%;
    padding: 0px 5px;
    margin-bottom: 5vh;
}

#viewProfileModal>form>input{
    display: none;
    height: 39px;
    margin: 3vh 0vw 2vh 0vw;
}

.closeModal{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@keyframes modalSlide {
    0% {top: -100vh}
    100%{top: 0}
}

@keyframes modalDarkenBg {
    0% {background-color: transparent; backdrop-filter: blur(0px);}
    100%{background-color: rgba(68, 68, 68, 0.678); backdrop-filter: blur(5px);}
}

@media screen and (min-width: 996px) {
    #viewProfileWrapper{
        height: 76.4vh;
        width: 80vw;
        top: 16.3vh;
        left: 20vw;
    }
    
    #viewProfileModal{
        width: 40vw;
        height: 50vh;
    }
    
    #viewProfileModal>p{
        width: 30vw;
    }

    #contactIcon{
        height: 20vmin;
    }
}