#contactList{
    height: 100%;
    overflow-y: scroll;
    background-color: var(--contactListBg);
}

#contactList::-webkit-scrollbar{
    width: 8px;
}

#contactList::-webkit-scrollbar-track{
    background: var(--scrollbarBg);
    border-right: 2px solid var(--accents);
}

#contactList::-webkit-scrollbar-thumb{
    background: var(--scrollbarColor);
}

#contactList>div{
    height: 12%;
    min-height: 12%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--contactBg);
    color: var(--contactListFontColor);
    border-bottom: 2px solid var(--accents);
    cursor: pointer;
}

#chatToolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 3px 20px;
    height: 10%;
    background-color: var(--chatToolbarBg);
}

#chatToolbar>div{
    height: 100%;
}

#contactInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

.contactIcon{
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
}

#nameAndNumber>div{
    width: 60vw;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3rem;
}

#nameAndNumber>#phoneNumber{
    font-size: 0.7rem;
}

#chatBody{
    height: 80%;
    background-color: var(--chatBodyBg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid{
    color: var(--);
}

#awaitContact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    text-align: center;
    color: rgb(116, 116, 116);
}

#awaitContact>.fa-chalkboard-user{
    font-size: 200px;
    color: rgb(175, 175, 175);
}

#userNotAddedWrapper{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100% - 10vh);
    width: calc(100% - 15vw);

    background-color: rgba(68, 68, 68, 0.678);
    animation-name: modalDarkenBg;
    animation-duration: 0.5s;
    z-index: 20;
}

#userNotAddedModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: 80%;
    width: 80%;

    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    
    animation-name: modalSlide;
    animation-duration: 0.5s;
}

#userNotAddedModal>.fa-user-plus{
    color: rgb(175, 175, 175);
    font-size: 10rem;
}

#userNotAddedModal>span{
    color: rgb(116, 116, 116);
}

#userNotAddedModal>span>u{
    color: rgb(70, 70, 70);
    cursor: pointer;
}

@media screen and (min-Width: 996px) {
    #contactList>div{
        height: 8%;
        min-height: 8%;
    }

    #userNotAddedWrapper{
        height: calc(100% - 7vh);
        width: calc(100% - 20vw);
    }

    #userNotAddedModal{
        height: 60%;
        width: 60%;
        gap: 60px;
    }
}

@keyframes modalDarkenBg {
    0% {background-color: transparent;}
    100% {background-color: rgba(68, 68, 68, 0.678);}
}

@keyframes modalSlide {
    0% {transform: translate(0px, -100vh);}
    100% {transform: translate(0px, 0vh);}
}