#icons{
    display: flex;
    gap: 20px;
}


@media screen and (min-width: 776px) {
    #icons{
        gap: 30px;
    }
}

#toolbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 10vh;
    width: 100%;
    background-color: var(--toolbarWrapperBg);
    box-shadow: 0px 3px 3px var(--accents);
    
    padding: 0px 10px;
    z-index: 2;
}

#toolbarWrapper i{
    background-color: var(--iconBg);
    height: 40px;
    width: 40px;
    background-position: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.1s ease;
    cursor: pointer;
}

#toolbarWrapper i:hover{
    background-color: var(--iconHoverBg);
}

.toolbarDropdown{
    background-color: var(--toolbarOptionsBg);
    width: 50vw !important;
    position: absolute;
    top: 10vh;
    right: 0;
    text-align: end;
    border-bottom: 3px solid var(--toolbarOptionsBorder);
    border-left: 3px solid var(--toolbarOptionsBorder);
    padding: 0px;
    z-index: 200;
}

.toolbarDropdown li{
    display: inline-block;
    padding: 3px 8px;
    width: 100%;
    color: var(--defaultFontColor);
    cursor: pointer;
}

.toolbarDropdown li:hover{
    background-color: var(--toolbarOptionsBorder);
}

.toolbarDropdown li>a{
    text-decoration: none;
    color: var(--defaultFontColor);
}

#authUserInfo{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}

#userIcon{
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img_not_found.jpg);
}

@media screen and (min-width: 996px) {
    #toolbarWrapper{
        height: 7vh;
    }

    .toolbarDropdown{
        top: 7vh;
        right: 10px;
        width: 15vw !important;
        padding: 0px !important;
        border-top: 3px solid var(--toolbarOptionsBorder);
        border-right: 3px solid var(--toolbarOptionsBorder);
    }
}