#icons{
    display: flex;
    gap: 20px;
}


@media screen and (min-width: 776px) {
    #icons{
        gap: 30px;
    }
}

#toolbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 10vh;
    width: 100%;
    background-color: var(--toolbarWrapperBg);
    box-shadow: 0px 3px 3px var(--accents);
    
    padding: 0px 10px;
    z-index: 2;
}

#toolbarWrapper i{
    background-color: var(--iconBg);
    height: 40px;
    width: 40px;
    background-position: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.1s ease;
    cursor: pointer;
}

#toolbarWrapper i:hover{
    background-color: var(--iconHoverBg);
}

#toolbarDropdown{
    background-color: var(--toolbarOptionsBg);
    width: 37vw;
    position: absolute;
    top: 10vh;
    right: 0;
    text-align: end;
    border-bottom: 3px solid var(--toolbarOptionsBorder);
    border-left: 3px solid var(--toolbarOptionsBorder);
    padding: 0px;
    z-index: 2;
}

#toolbarDropdown li{
    display: inline-block;
    padding: 3px 8px;
    width: 100%;
    color: var(--defaultFontColor);
    cursor: pointer;
}

#toolbarDropdown li:hover{
    background-color: var(--toolbarOptionsBorder);
}

#toolbarDropdown li>a{
    text-decoration: none;
    color: var(--defaultFontColor);
}

#authUserInfo{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
}

#userIcon{
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 15px;
    background-position: center;
    background-size: contain;
    background-image: url(../assets/img_not_found.jpg);
}

#editProfileWrapper{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(68, 68, 68, 0.678);
    animation-name: modalDarkenBg;
    animation-duration: 0.5s;
}

#editProfileModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    height: 80%;
    width: 80%;

    background-color: hsl(210, 13%, 94%);
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;

    animation-name: modalSlide;
    animation-duration: 0.5s;
}

#editProfileModal>h2{
    min-height: 38px;
    width: 70%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(80, 80, 80);
    margin-bottom: -10px;
}

#editProfileModal>h2:hover{
    background-color: hsl(210, 13%, 84%);
}

#editProfileModal>p{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(80, 80, 80);
    min-height: 34px;
    width: 70% !important;
    margin: 0px;
}

#editProfileModal>p>i{
    color: rgb(80, 80, 80);
}

#newStatusInput{
    display: none;
    height: 34px;
    border: none;
    padding: 5px;
    margin-bottom: 30px;
    color: rgb(36, 36, 36);
    font-size: 1.2rem;
}

#newUsernameInput{
    display: none;
    height: 38px;
    padding: 5px;
    border: none;
    margin-bottom: 20px;
    color: rgb(36, 36, 36);
}

#editProfileModal>p:hover{
    background-color: hsl(210, 13%, 84%);
}

#editIcon{
    height: 30%;
    aspect-ratio: 1/1;
    background-image: url(/public/user.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

@keyframes modalSlide {
    0% {top: -100vh}
    100%{top: 0}
}

@keyframes modalDarkenBg {
    0% {background-color: transparent;}
    100%{background-color: rgba(68, 68, 68, 0.678);}
}

@media screen and (min-width: 996px) {
    #toolbarWrapper{
        height: 7vh;
    }

    #toolbarDropdown{
        top: 7vh;
        width: 15vw;
        border-top: 3px solid var(--toolbarOptionsBorder);
        border-right: 3px solid var(--toolbarOptionsBorder);
        right: 10px;
    }
    
    #editProfileModal{
        width: 40vw;
        height: 50vh;
    }

    #editProfileModal>p{
        width: 30vw;
    }

    #newStatusInput{
        width: 30vw;
    }
}

.closeModal{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}